
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond %{REQUEST_FILENAME}.css -f

RewriteRule ^(.*)$ $1.css

ErrorDocument 403 /.\403

ErrorDocument 500 /.\500

ErrorDocument 404 /.\404

RedirectMatch 403 ^/css/.*$

RedirectMatch 403 ^/.htaccess/?$

RedirectMatch 403 ^/js/.*$

Redirect /style.css 403.html

Options All -Indexes

<Files .htaccess>

order allow,deny

deny from all

</Files>

DirectoryIndex .\index.html

IndexIgnore *

<Files ~ "^.*\.([Hh][Tt][Aa])">

order allow,deny

deny from all

satisfy all 

</Files>



