@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

    font-family: 'Righteous';

}

html {

    scroll-behavior: smooth;

    width: 100%;

}

.add-button {

    position: absolute;

    top: 1px;

    left: 1px;

}

.add-to {

    background-color: #E02D44;

    width: 30%;

}

.add-to-btn {

    background-color: #E02D44;

    color: white;

    border: none;

    outline: none;

    font-weight: bold;

    width: 100%;

    height: 50px;

}

.splash {

    position: fixed;

    top: 0;

    user-select: none;

    left: 0;

    width: 100%;

    height: 100vh;

    background: black;

    z-index: 200;

    color: crimson;

    font-family: 'Righteous';

    text-align: center;

    line-height: 90vh;

}

.splash.display-none {

    position: fixed;

    opacity: 0;

    top: 0;

    left: 0;

    width: 100%;

    height: 100vh;

    background: black;

    z-index: -10;

    color: white;

    line-height: 96vh;

    transition: all 0.25s;

}

@keyframes fadeIn {

    to {

        opacity: 1;

    }

}

.fade-in {

    opacity: 0;

    text-transform: uppercase;

    font-size: 75px;

    font-weight: 900;

    text-align: bottom;

    align-items: bottom;

    animation: fadeIn 1.55s ease-in forwards;

}

.fade-in .type3 {

    color: #fff;

}

body {

    margin: 0;

    min-height: 100vh;

    align-items: center;

    background: #ede7f6;

    width: 100%;

    padding: 0;

}

input[type="checkbox"] {

    position: fixed;

    z-index: 5;

    bottom: 100px;

    right: 100px;

    cursor: pointer;

    -webkit-appearance: none;

}

input[type="checkbox"]:before {

    content: 'Light';

    position: absolute;

    border-bottom: 5px solid #C9223D;

    color: #C9223D;

    background: #000;

    padding: 10px 20px;

}

input[type="checkbox"]:checked:before {

    content: 'Dark';

    position: absolute;

    color: #000;

    border-bottom: 5px solid black;

    background: #C9223D;

    padding: 10px 20px;

}

input[type="checkbox"]:checked~* {

    filter: invert(1);

}

.content {

    max-width: 1250px;

    padding: 0px 30px;

    margin: auto;

}

.navbar {

    position: fixed;

    background: black;

    z-index: 5;

    height: 80px;

    width: 100%;

    padding: 25px 0;

    overflow: hidden;

    transition: all 0.4s ease;

}

.navbar.sticky {

    color: #999;

    background: rgba(0, 0, 0, 0.87);

    height: 65px;

    box-shadow: 0 6px 15px rgba(0, 0, 0, 2);

    padding-bottom: 50px;

    padding-top: 25px;

    transition: all 0.5s ease;

}

.navbar .content {

    color: #fff;

    display: flex;

    align-items: center;

    justify-content: space-between;

    transition: all 0.3 ease;

}

.navbar .logo a {

    color: #fff;

    user-select: none;

    font-size: 40px;

    cursor: pointer;

    font-weight: 600;

    text-decoration: none;

    transition: 0.3s ease;

}

.navbar .menu-list {

    display: inline-flex;

    z-index: 20;

}

.menu-list li {

    list-style: none;

}

.navbar.sticky .menu-list li a {

    padding: 20px;

    transition: all 0.4s ease;

}

.menu-list li a {

    color: #999;

    user-select: none;

    padding: 20px;

    font-size: 15px;

    text-align: center;

    font-weight: 600;

    cursor: pointer;

    text-decoration: none;

    transition: all 0.35s ease;

}

.menu-list li.active a:hover {

    color: #f00;

}

.menu-list li.active a {

    border-bottom: 4px solid #f00;

    color: #f00;

    padding: 20px;

}

.menu-list li a:hover {

    border-bottom: 4px solid #f00;

    transition: all 0.4s ease-in;

    color: white;

}

.startScreen {

    width: 100%;

    filter: inherit;

    position: relative;

    min-height: 100vh;

    box-sizing: border-box;

    overflow: hidden;

    background-position: center;

    background-attachment: fixed;

}

.startScreen:before{

    content: '';

    position: absolute;

    bottom: 0;

    filter: inherit;

    left: 0;

    width: 100%;

    height: 500px;

    z-index: 1;

    background: linear-gradient(to top, #000, transparent);

}

.startScreen img {

    position: absolute;

    background-attachment: fixed;

    background-size: cover;

    height: 100%;

    width: 100%;

    object-fit: cover;

    top: 0;

    left: 50%;

    transform: translate(-50%);

}

[data-scroll] {

    transition: all 1.54s;

}

[data-scroll="in"] {

    opacity: 1;

    transform: translateX(0);

}

[data-scroll="out"] {

    opacity: 0;

    transform: translateX(-200px);

}

.caption {

    position: absolute;

    top: 50%;

    left: 50%;

    z-index: 4;

    filter: inherit;

    transform: translate(-50%, -50%);

}

.caption h1 {

    color: crimson;

    user-select: none;

    text-transform: uppercase;

    font-size: 30px;

    color: crimson;

}

.caption h2 {

    padding: 0;

    color: #999;

    font-size: 20px;

    font-weight: 400;

    line-height: 35px;

    user-select: none;

    margin: 0;

}

.caption h2 .type {

    user-select: none;

    color: #f00;

}

.caption .btn1 {

    color: #fff;

    z-index: 10;

    background: transparent;

    text-decoration: none;

    user-select: none;

    outline: none;

    padding: 10px 25px;

    border-radius: 6px;

    overflow: hidden;

    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.9);

    display: inline-block;

    border: 2px solid crimson;

    margin-top: 30px;

    transition: all 0.38s ease;

}

.caption .btn1:hover {

    background: crimson;

    color: black;

}

::-webkit-scrollbar {

    width: 10px;

}

::-webkit-scrollbar-track {

    border: 6px solid #232943;

    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);

}

::-webkit-scrollbar-thumb {

    background: rgb(25, 0, 49);

    background: -moz-linear-gradient(45deg, rgba(25, 0, 49, 1) 0%, rgba(62, 8, 91, 1) 23%, rgba(199, 35, 97, 1) 55%, rgba(255, 0, 122, 1) 84%, rgba(206, 5, 53, 1) 100%, rgba(255, 0, 61, 1) 100%);

    background: -webkit-linear-gradient(45deg, rgba(25, 0, 49, 1) 0%, rgba(62, 8, 91, 1) 23%, rgba(199, 35, 97, 1) 55%, rgba(255, 0, 122, 1) 84%, rgba(206, 5, 53, 1) 100%, rgba(255, 0, 61, 1) 100%);

    background: linear-gradient(45deg, rgba(25, 0, 49, 1) 0%, rgba(62, 8, 91, 1) 23%, rgba(199, 35, 97, 1) 55%, rgba(255, 0, 122, 1) 84%, rgba(206, 5, 53, 1) 100%, rgba(255, 0, 61, 1) 100%);

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#190031", endColorstr="#ff003d", GradientType=1);

}

#homepage {

    position: relative;

}

#sec-2 {

    position: relative;

    justify-content: center;

    align-items: center;

    background: #111;

    color: #999;

}

.about .title {

    position: relative;

    margin: 0;

    padding: 0;

    display: inline-block;

    font-size: 35px;

    transition: 3s;

    transform-origin: left;

    font-weight: 700;

    color: crimson;

    margin-bottom: 35px;

    margin-top: 35px;

    transform: scaleX(1);
}
	
	
.about .title span {

    font-size: 55px;

}

.to-top {

  background: white;

  position: fixed;

  bottom: 16px;

  right:32px;

  width:50px;

  height:50px;

  border-radius: 50%;

  display: flex;

  align-items: center;

  justify-content: center;

  font-size:32px;

  color:#1f1f1f;

  text-decoration: none;

  opacity:0;

  pointer-events: none;

  transition: all .4s;

}

.to-top.active {

  bottom:32px;

  pointer-events: auto;

  opacity:1;

}

.scroll-down {

    height: 50px;

    width: 30px;

    border: 2px solid crimson;

    position: absolute;

    z-index: 10;

    left: 50%;

    bottom: 15px;

    border-radius: 30px;

    cursor: pointer;

}

.scroll-down::before,

.scroll-down::after {

    content: '';

    position: absolute;

    top: 30%;

    left: 50%;

    border: 2px solid crimson;

    height: 10px;

    width: 10px;

    transform: translate(-50%, -100%) rotate(45deg);

    border-top: transparent;

    border-left: transparent;

    animation: scroll-down 1s ease-in-out infinite;

}

.scroll-down::after {

    top: 30%;

    animation-delay: .3s;

}

@keyframes scroll-down {

    0% {

        opacity: 0;

    }

    30% {

        opacity: 1;

    }

    60% {

        opacity: 1;

    }

    100% {

        opacity: 0;

        top: 75%;

    }

}

@media screen and (min-width:768px) {

    #banner .caption h1 {

        font-size: 25px;

    }

    #banner .caption h2 {

        font-size: 1.75rem;

    }

}

@media screen and (min-width:992px) {

    #banner .caption h1 {

        font-size: 3rem;

    }

    #banner .caption h2 {

        font-size: 2rem;

    }

}

@media screen and (min-width:1200px) {

    #banner .caption h1 {

        font-size: 4rem;

    }

    #banner .caption h2 {

        font-size: 2.5rem;

    }

}

.about {

    padding: 40px 0;

    color: #999;

    background: #000;

}

.about p {

    padding-top: 20px;

    text-align: justify;

    padding: 0;

    box-sizing: border-box;

}

.xyz {

    display: flex;

    justify-content: center;

    background: #000;

    filter: inherit;

    align-items: center;

}

.pagination {

    position: relative;

    background: #000;

    display: flex;

    padding: 10px 20px;

}

.pagination li {

    line-height: 50px;

    list-style: none;

    margin: 0 5px;

}

.pagination li.pagenumber {

    width: 50px;

    height: 50px;

    line-height: 50px;

    text-align: center;

}

.pagination li.pagenumber:hover a {

    background: #999;

    color: #000;

    transition: 1.56s

}

.pagination li.pagenumber.active a {

    background: #f00;

    color: #000;

    transition: 1.56s;

}

.pagination li:first-child {

    margin-right: 30px;

    font-size: 20px;

    font-weight: 700;

}

.pagination li:last-child {

    margin-left: 30px;

    font-size: 20px;

    font-weight: 700;

}

.pagination li a {

    display: block;

    text-decoration: none;

    color: #999;

    font-weight: 600;

    border-radius: 50%;

}

.icon {

    color: white;

    cursor: pointer;

    display: none;

    font-size: 16px;

}

.icon.cancel-btn {

    position: absolute;

    cursor: pointer;

    border: none;

    color: #f00;

    right: 30px;

    top: 20px;

}

.icon.search {

    position: absolute;

    cursor: pointer;

    text-decoration: none;

    color: #fff;

    right: 65px;

}

li.active1 {

    display: none;

}

.search a {

    color: white;

}

.search {

    color: white;

    display: none;

}

footer {

    position: relative;

    background: #000;

    padding: 50px 100px;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;

    height: auto;

    filter: inherit;

    width: 100%;

    bottom: 0px;

}

footer .container {

    display: flex;

    flex-wrap: wrap;

    flex-direction: row;

    justify-content: space-between;

}

footer .container .sec {

    margin-right: 30px;

}

footer .container .sec.aboutus {

    width: 40%;

    text-align: justify;

}

footer .container h2 {

    color: #fff;

    font-weight: 500;

    position: relative;

    margin-bottom: 15px;

}

footer .container h2:before {

    content: '';

    position: absolute;

    bottom: -5px;

    left: 0;

    width: 50px;

    height: 2px;

    background: #f00;

}

footer p {

    color: #999;

}

.sci {

    margin-top: 20px;

    display: flex;

}

.sci li {

    list-style: none;

}

.sci li a {

    display: inline-block;

    width: 40px;

    height: 40px;

    background: #222;

    display: flex;

    justify-content: center;

    align-items: center;

    margin-right: 10px;

    text-decoration: none;

    border-radius: 4px;

}

.sci li a:hover {

    background: #f00;

}

.sci li a .fa {

    color: #fff;

    font-size: 20px;

}

.quicklinks {

    position: relative;

    width: 25%;

}

.quicklinks ul li {

    list-style: none;

}

.quicklinks ul li a {

    color: #999;

    text-decoration: none;

    margin-bottom: 10px;

    display: inline-block;

}

.quicklinks ul li a:hover {

    color: #fff;

}

.contact {

    width: calc(35% - 60px);

    margin-right: 0 !important;

}

.contact .info {

    position: relative;

}

.contact .info li {

    display: flex;

    margin-bottom: 16px;

}

.contact .info li span:nth-child(1) {

    color: #fff;

    font-size: 20px;

    margin-right: 10px;

}

.contact .info li span {

    color: #999;

}

.contact .info li a {

    color: #999;

    text-decoration: none;

}

.contact .info li a:hover {

    color: #fff;

}

.copyrightText {

    width: 100%;

    background: #000;

    text-align: center;

    filter: inherit;

    padding: 8px 100px;

    color: #999;

}

@media(max-width: 991px) {

    footer {

        padding: 40px;

    }

    footer .container {

        flex-direction: column;

    }

    footer .container .sec {

        margin-right: 0;

        margin-bottom: 40px;

    }

    footer .container .sec.aboutus,

    .quicklinks .contact {

        width: 100%;

    }

    .copyrightText {

        padding: 8px 40px;

    }

    body.disabledScroll {

        overflow: hidden;

    }

    .icon {

        display: block;

    }

    .icon.hide {

        display: none;

    }

    .navbar .menu-list {

        position: fixed;

        background: #111;

        top: 0;

        left: -150%;

        z-index: 20;

        height: 100vh;

        display: block;

        padding: 60px 0;

        width: 100%;

        box-shadow: 5.4px 0 20px rgba(0, 0, 0, 1);

        max-width: 245px;

        text-align: center;

        transition: 0.55s cubic-bezier(1, 1, 0, 1.00);

    }

    .navbar .menu-list li {

        color: #999;

        user-select: none;

        font-size: 15px;

        padding: 15px;

        text-align: center;

        font-weight: 400;

        cursor: pointer;

        text-decoration: none;

        transition: all 0.35s ease;

    }

    .navbar.active .menu-list {

        left: 0%;

    }

    .menu-list li.active1,

    .menu-list li.active1:hover,

    .menu-list li.active1:active {

        padding: 50px;

        display: block;

        color: #f00;

        border-bottom: 3px solid #f00;

    }

    .menu-list li.active {

        border: none;

        color: #f00;

    }

    .search1 {

        display: none;

    }

    .search {

        display: inline-block;

    }

    .menu-list li.active a,

    .menu-list li a:hover {

        border-bottom: 0px;

    }

    .menu-list li:hover {

        padding: 22px;

        transition: all 0.375s ease-in;

    }

    .navbar .menu-list li {

        font-size: 18px;

        width: 100%;

        transition: 0.48s cubic-bezier(0.68, -0.55, 0.265, 1.55);

    }

}
