RewriteEngine on 

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME}\.php -f

RewriteRule ^(.*)$ $1.php [NC,L] 

ErrorDocument 404 /404

ErrorDocument 403 /403

Redirect 301 /youtube https://youtube.com/c/FTS-18/

Redirect 301 /facebook https://www.facebook.com/FTS1807/

Redirect 301 /instagram https://www.instagram.com/fts1818/

Redirect 301 /twitter https://twitter.com/fts26628060/

Options -Indexes

<Files ~ "^.*\.([Hh][Tt][Aa])">

order allow,deny

deny from all

satisfy all

</Files>

RewriteCond %{SCRIPT_FILENAME} -d [OR]

RewriteCond %{SCRIPT_FILENAME} -f

RewriteRule "(^|/)\." - [F]

RedirectMatch 403 /\..*$
